<a class="offer-card $class_slug" href="$url">
  <div class="offer-media">$img</div>
  <div class="offer-body">
    <div class="offer-top">
      <span class="offer-prov">$provider</span>
      $badge
    </div>
    <h3 class="offer-title">$title</h3>
    <div class="offer-price">
      <span class="now">$price</span>
      $was
    </div>
    <div class="offer-foot">
      <span class="offer-checked">checked $fetched</span>
      <span class="offer-go">See details &rarr;</span>
    </div>
  </div>
</a>
